/* CSS Document */
body {
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: normal;
	background: #fff;
	}
h3 {
	text-decoration: underline;	
	}
#container {
	width:960px;
	margin: 0 auto;
	overflow:hidden;
	-moz-box-shadow: 0 0 5px 5px #9CA69D;
	-webkit-box-shadow: 0 0 5px 5px #9CA69D;
	box-shadow: 0 0 5px 5px #9CA69D;
	}
header {
	float:left;
	width: 960px;
	}
nav {
	background-image: url(images/nav_nowords.gif);
	width: 960px;
	margin: 0 auto;
	color: #FFF;
	font-size: 24px;
	word-spacing: 4em;
	text-align:center;
	}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
nav ul li {
	display: inline;
	}
nav ul li a:link {
	color: #fff;
	text-decoration: none;
	}
nav ul li a:visited {
	color: #fff;
	;
	} 
nav ul li a:hover {
	color:#cc8061;
	} 
nav ul li a:active {
	color:##fff;
	}
nav #current a {
	color:#cc8061;
	}
#picture {
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	}
#side_bar {
	float: left;
	width: 230px;
	background-image:url(images/side_bar.gif);
	color: #FFF;
	}
#side_bar_content {
	padding: 5px;
	}
#container #side_bar #side_bar_content #course_side_listing {
	line-height: 7px;
}
#main_content {
	float: right;
	width: 730px;
	background:#afb9b1;
	color:#FFF;
	background-repeat:repeat;
	}
#content {
	padding: 5px;
	}
#content p {
	font-size: 17px;
	}
#content ul li {
	font-size: 15px;
	}
#container #main_content #content .coursedescription {
	font-size: 14px;
}	
footer {
	text-align: center;
	}
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
footer ul li {
	display: inline;
	}
footer ul li a:link {
	color: #354354;
	text-decoration: none;
	}
footer ul li a:visited {
	color: #354354;
	} 
footer ul li a:hover {
	color:#fff;
	} 
footer ul li a:active {
	color:#fff;
	}
footer #copyright {
	font-size:small;
	color:#354354;
	}

#container #side_bar #side_bar_content #course_side_listing a:link {
	color: #cc8061;
	text-decoration: none;
}
#container #side_bar #side_bar_content #course_side_listing a:visited {
	color: #cc8061;
	text-decoration: none;
}
#container #side_bar #side_bar_content #course_side_listing a:hover {
	color: #fff;
	text-decoration: none;
}
#container #side_bar #side_bar_content #course_side_listing a:active {
	color: #fff;
	text-decoration: none;
}
#container #main_content #content ul a:link {
	color: #354354;
	text-decoration: none;
}
#container #main_content #content ul a:visited {
	color: #354354;
	text-decoration: none;
}
#container #main_content #content ul a:hover {
	color:#fff;
}
#container #main_content #content ul a:active {
	color:#fff;
}